body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin-left: 180px;
}

.header-links {
    margin-right: 180px;
}

.hero {
    background-color: #1F2937;
    padding: 100px 180px;
    display: flex;
    justify-content: space-between;
}

.hero-container {
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
}

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 12px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #3882F6;
    border-radius: 8px;
    height: 30px;
    width: 120px;
}

.hero-image {
    width: 475px;
    height: 250px;
    margin-right: 24px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 70px 100px;
}

.cards-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    width: 100vw;
}

.card-container {
    margin-top: 60px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-image {
    width: 180px;
    height: 150px;
    margin-bottom: 16px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.card-subtext {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

/* Remove decoration from links list */
ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-inline: 12px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}